#### Создание эмбиддингов названий с помощью fasttext, расчет расстояний между названиями.

In [ ]:
import pandas as pd
import os
import tqdm
import numpy as np
import gensim
from collections import defaultdict
import fasttext.util
import re
from scipy.spatial.distance import cosine, cityblock, jaccard, canberra, euclidean, minkowski, braycurtis

In [10]:
fasttext.util.download_model('en', if_exists='ignore')  # English
ft = fasttext.load_model('cc.en.300.bin')

Downloading https://dl.fbaipublicfiles.com/fasttext/vectors-crawl/cc.en.300.bin.gz

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [96]:

train=pd.read_csv('train_filtered.csv', index_col=0)

In [73]:
train.loc[train['name_2_filtered'].isnull(),['name_2_filtered']]=train.name_2.str.lower().replace(re.compile(r"[^\w\s]"), "")
train.loc[train['name_1_filtered'].isnull(),['name_1_filtered']]=train.name_1.str.lower().replace(re.compile(r"[^\w\s]"), "")

In [98]:
train['cosine']=train.apply(lambda r: cosine(ft.get_sentence_vector(str(r.name_1_filtered)),ft.get_sentence_vector(str(r.name_2_filtered))), axis=1)

In [99]:
train['cityblock']=train.apply(lambda r: cityblock(ft.get_sentence_vector(str(r.name_1_filtered)),ft.get_sentence_vector(str(r.name_2_filtered))), axis=1)

In [100]:
train['jaccard']=train.apply(lambda r: jaccard(ft.get_sentence_vector(str(r.name_1_filtered)),ft.get_sentence_vector(str(r.name_2_filtered))), axis=1)

In [101]:
train['canberra']=train.apply(lambda r: canberra(ft.get_sentence_vector(str(r.name_1_filtered)),ft.get_sentence_vector(str(r.name_2_filtered))), axis=1)

In [102]:
train['minkowski']=train.apply(lambda r: minkowski(ft.get_sentence_vector(str(r.name_1_filtered)),ft.get_sentence_vector(str(r.name_2_filtered))), axis=1)

In [103]:
train['braycurtis']=train.apply(lambda r: braycurtis(ft.get_sentence_vector(str(r.name_1_filtered)),ft.get_sentence_vector(str(r.name_2_filtered))), axis=1)

In [106]:
train.to_csv('train_withgpe_distance.csv')

In [107]:
train[train.cosine<0.2]

                                                name_1  ... braycurtis
pair_id                                                 ...
162      JX Nippon Oil & Gas Exploration (Brasil) Ltda  ...   0.197615
548                                          The Order  ...   0.222131
759                           Customer Code : 24000014  ...   0.206194
836                      Brenntag Australia (Pty) Ltd.  ...   0.000000
1110               Consigned To The Order Of Southeast  ...   0.318127
...                                                ...  ...        ...
496371                     Ic Servicios Logisticos Sac  ...   0.347786
496469                          Quimica Comercial S.A.  ...   0.261626
496761                    Arlanxeo International Group  ...   0.000000
496781                             Steve Madden Canada  ...   0.240549
497176            Ctbc Bank Co., Ltd. Ho Chi Minh City  ...   0.160893

[2412 rows x 11 columns]

In [108]:
test=pd.read_csv('test_filtered.csv', index_col=0)

In [111]:
test['cosine']=test.apply(lambda r: cosine(ft.get_sentence_vector(str(r.name_1_filtered)),ft.get_sentence_vector(str(r.name_2_filtered))), axis=1)

In [112]:
test['cityblock']=test.apply(lambda r: cityblock(ft.get_sentence_vector(str(r.name_1_filtered)),ft.get_sentence_vector(str(r.name_2_filtered))), axis=1)

In [113]:
test['jaccard']=test.apply(lambda r: jaccard(ft.get_sentence_vector(str(r.name_1_filtered)),ft.get_sentence_vector(str(r.name_2_filtered))), axis=1)

In [114]:
test['canberra']=test.apply(lambda r: canberra(ft.get_sentence_vector(str(r.name_1_filtered)),ft.get_sentence_vector(str(r.name_2_filtered))), axis=1)

In [115]:
test['minkowski']=test.apply(lambda r: minkowski(ft.get_sentence_vector(str(r.name_1_filtered)),ft.get_sentence_vector(str(r.name_2_filtered))), axis=1)

In [116]:
test['braycurtis']=test.apply(lambda r: braycurtis(ft.get_sentence_vector(str(r.name_1_filtered)),ft.get_sentence_vector(str(r.name_2_filtered))), axis=1)

In [119]:
test.to_csv('test_distance.csv')